/* Định dạng header */
header {
    display: flex; /* Sử dụng flexbox */
    justify-content: space-between; /* Canh giữa các phần tử và đặt khoảng cách dọc giữa chúng */
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
    padding: 10px; /* Khoảng cách padding ở bốn phía */
    background-color: var(--grey); /* Màu nền của header */
    color: white; /* Màu chữ của header */
}

/* Định dạng icon menu */
.menu-icon {
    display: none; /* Ẩn icon menu */
    cursor: pointer; /* Con trỏ chuột thành hình bàn tay khi di chuyển qua icon */
    float: right; /* Căn chỉnh icon menu sang phải */
}

.menu-icon .bar {
    height: 3px; /* Chiều cao của thanh icon menu */
    width: 25px; /* Chiều rộng của thanh icon menu */
    background-color: white; /* Màu của thanh icon menu */
    margin: 5px 0; /* Khoảng cách giữa các thanh icon menu */
}

/* Định dạng navigation bar */
.navbar {
    list-style: none; /* Loại bỏ dấu chấm liệt kê */
    margin: 0; /* Xóa khoảng cách margin */
    padding: 0; /* Xóa khoảng cách padding */
    display: flex; /* Sử dụng flexbox */
}

.navbar li a {
    text-decoration: none; /* Loại bỏ gạch chân dưới link */
    color: #000; /* Màu chữ của các liên kết */
    margin: 10px; /* Khoảng cách giữa các liên kết */
}

/* Media query cho màn hình nhỏ hơn 768px */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block; /* Hiển thị icon menu */
    }

    .navbar {
        display: none; /* Ẩn navigation bar */
        flex-direction: column; /* Xếp các phần tử theo chiều dọc */
        position: fixed; /* Vị trí cố định */
        top: 50px; /* Cách header 50px */
        left: 0; /* Canh lề trái */
        background-color: var(--main-color); /* Màu nền của navigation bar */
        width: 140px; /* Chiều rộng của navigation bar */
        border-radius: 10px; /* Bo góc navigation bar */
    }

    .navbar li a {
        color: var(--white); /* Màu chữ của các liên kết */
    }

    .navbar.active {
        display: flex; /* Hiển thị navigation bar */
    }

    .navbar li {
        margin-right: 0; /* Xóa khoảng cách margin phải */
        text-align: center; /* Căn giữa nội dung */
        padding: 10px 0; /* Khoảng cách padding */
    }
}

/* Định dạng nền body */
body {
    background-color: var(--grey); /* Màu nền của body */
    font-family: "Poppins", sans-serif; /* Sử dụng font chữ Poppins */
    font-weight: 500; /* Trọng lượng chữ Medium */
    font-style: normal; /* Kiểu chữ bình thường */
}

/* Biến CSS */
:root {
    --main-color: #EE7745; /* Màu chính */
    --grey: #D9D9D9; /* Màu xám */
    --white: #FFF; /* Màu trắng */
    --NavajoWhite1: #FFDEAD; /* Màu Navajo White 1 */
    --hover: #794e0d; /* Màu khi di chuột qua */
}

/* Định dạng logo */
.logo img {
    float: left; /* Canh lề trái */
    width: 40px; /* Chiều rộng của logo */
    height: 40px; /* Chiều cao của logo */
}


/* Hiệu ứng khi di chuột qua button */
button:hover {
    background-color: var(--NavajoWhite1); /* Màu nền khi di chuột qua */
    color: var(--main-color); /* Màu chữ khi di chuột qua */
    transform: scale(1.1); /* Phóng to */
    transition: transform 0.3s ease; /* Hiệu ứng transition */
}

/* Hiệu ứng khi di chuột qua link */
a:hover {
    color: var(--main-color); /* Màu chữ khi di chuột qua */
    transform: scale(1.1); /* Phóng to */
    transition: transform 0.3s ease; /* Hiệu ứng transition */
}

/* Hiệu ứng khi di chuột qua các liên kết */
li a:hover {
    color: var(--hover); /* Màu khi di chuột qua */
    transform: scale(1.1); /* Phóng to */
    transition: transform 0.3s ease; /* Hiệu ứng transition */
}

footer {
    background-color: var(--main-color);
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 40px;
}

footer .contact {
    list-style: none;
    margin-left: -40px;
    margin-bottom: -16px;
}

footer a {
    text-decoration: none;
    color: var(--white);
    margin-left: 20px;
}


.img {
    width: 100px;
    margin-left: 80px;
}

.btn_upload {
    border: none;
    color: var(--white);
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 63px;
    margin-top: 25px;
    margin-left:80px;
}

.information ul {
    list-style:  none;
    font-size: 15px;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.information li {
    background-color: var(--white);
    border-radius: 5px;
    padding: 5px 20px 5px 2px;
}

@media (min-width: 62em) {
    .logo img {
        float: left; /* Canh lề trái */
        width: 90px; /* Chiều rộng của logo */
        height: 90px; /* Chiều cao của logo */
    }

    .edit img {
        float: left;
        width: 200px;
    }

    .btn_upload {
        float: left;
        margin-top: -220px;
        margin-left: 125px;
    }

    .information {
        width: 70%;
        margin-left: 300px;
    }

    footer {
        margin-top: 85px;
    }
}